* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('../icons/Hero-bg.png');
    background-size: cover;
    background-position: center;

    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;

    width: 100%;
}

nav h1 {
    font-weight: 900;
    color: rgb(82, 82, 255);
}

button {
    background: rgb(82, 82, 255);

    border: none;
    padding: 10px;
    font-size: 15px;
    border-radius: .5rem;

    color: white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 500px;
}

section button {
    width: 200px;
}

section h1 {
    font-size: 35px;
}